.home {
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 0px 4px 20px #3a3a3a;
        &__logo{
            width: 250px;
            margin-top: 25px;
        }
    }

    .headMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background: $colour-white;
        height: 7rem;
        &__arrow{
            position: absolute;
            left: 30px;
        }
    }




