*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    object-fit:cover;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 1.5rem;
    @media screen and (min-width: $desktop){
        font-size: 2rem;
    }
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

h4 {
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #000;
}

textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

span {
    font-weight: 500;
}